---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span>
        <hr id="line">
		<div class="content">
		{{ post.excerpt }}

        {% if post.content contains "<!-- more -->" %}
        {{ post.content | split:"<!-- more -->" | first % }}
        <h7><a href="{{post.url}}' title='阅读全文'>阅读全文</a></h7>
        
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
</div>
